<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="/index.html" class="com.pvn.controller.PageProvidersForListing">
		<property name="employeeService" ref="employeeService" />
	</bean>
	<bean name="/insert.html" class="com.pvn.controller.PageProviders">
		<property name="employeeService" ref="employeeService" />
	</bean>
	<bean name="/empSave.html" class="com.pvn.controller.EmployeeController">
		<property name="employeeService" ref="employeeService" />
	</bean>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean name="employeeService" class="com.pvn.dao.EmployeeService">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/employee_practice" />
		<property name="username" value="root" />
		<property name="password" value="admin" />
		<property name="initialSize" value="3" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="3" />
	</bean>
	
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
	   <property name="location">
	       <value>/WEB-INF/spring-views.xml</value>
	   </property>
	   <property name="order" value="0" />
     </bean>
</beans>
